{
  "name": "iris",
  "main": "src/entry.py",
  "compatibility_date": "2026-09-08",
  "compatibility_flags": ["python_workers"],
  "kv_namespaces": [{ "binding": "IRIS_KV", "id": "<YOUR_KV_NAMESPACE_ID>" }],
  "vars": {
    "IRIS_CLIENT_ID": "<YOUR_ENTRA_APP_CLIENT_ID>",
    "IRIS_TENANT_ID": "<YOUR_ENTRA_TENANT_ID>"
  }
}
